/.idea
username
ghtoken
bintraykey
/config.json
config.json
config2.json
/build
/profile
/data
/settings
.gradle
*/.gradle
*/build
*/ChangeDisplayName.kt
matrix-sdk-crypto
stores
dial-phone-olm-machine/src/jvmMain/resources/libuniffi_olm.so
dial-phone-olm-machine/sdk
